html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

html.dark {
    background: #121212;
}

.sc-header {
    padding: 0 !important;
    min-height: 50px !important;
}

.sc-chat-window {
    width: 370px !important;
}

.sc-message {
    width: 330px !important;
}

.border {
    border-radius: 5px;
    border: #4443 solid 1px;
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    border-radius: 5px;
    border: #4443 solid 1px;

    display: flex;
    align-items: center;
    width: 240px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: #aaaa;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #444a;
}